core/precalcmatches/WEB-INF/wsdl/SimpleMatchRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.ebi.ac.uk/interpro/interproscan/schemas/precalc/request">
    <xs:element name="MatchRequest" type="MatchRequestType"/>
    <xs:complexType name="MatchRequestType">
        <xs:sequence>
            <xs:element type="xs:string" name="ProteinMD5" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
